# Logs
logs
*.log
npm-debug.log*

# dotenv environment variables file
.env
.env.test

# parcel-bundler cache (https://parceljs.org/)
.cache

#node_modules
node_modules

#logs
logs

#*.json
database.json
bot.json
